NEXT_PUBLIC_APP_MODE = "DEVELOPMENT"
NEXT_PUBLIC_API_DOMAIN = "https://api.xbarat-back.pro/"
NEXT_PUBLIC_DEV_API_DOMAIN = "https://api.xbarat-back.pro/"
NEXT_PUBLIC_CTA_BUTTON = "https://app.xbarat.com/"